#headercontainer {
	height: 100px;
	overflow: hidden;
}

#logocontainer {
	background-color: #4683D8;
}

#logocontainer img {
	height: 100%;
	display: block;
	margin: auto;
}

#starofthedaycontainer {
	border-left: 10px solid white;
	border-right: 10px solid white;
}

#starofthedaycontainer div{
	background-color: #3D2C6B;
}

#starofthedaycontainer img {
	display: block;
	margin: auto;
	height: 100%;
}

#starofthedaydetailcontainer {
	background-color: green;
	border: 5px solid #3D2C6B;
	height: 100%;
}

#navigationbar {
	display: inline-block;
	border: 0px solid white;
	height: 100%;
}

#navigationbarcontainer ul li a{
	color: black;
}

#navigationbarcontainer ul li > a:hover{
	color: yellow;
}

#navigationbarcontainer ul ul li {
	list-style-type: circle;
}

.title {
	background-color: #4683D8;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}

#contentcontainer {
	padding-top: 1%;
	border-bottom: 5px solid black;
}

#chatcontainer {
	height: 30%;
}

#chatcontainer div{
		background-color: green;
}

#chatcontainer input{
	width: 100%;
}

#messages {
	overflow: scroll;
	height: 91%;
}

#chatroom {
	background-color: green;
	height: 100%;
	overflow: scroll;
}

#footer {
	height: 200px;
	background-color: grey;
}

#copyrightcontainer {
	height: 50px;
	background-color: black;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
